body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-pix {
  font-size: 4em;
  color: #fff;
  padding: .2em;
  text-align: center;
}

.destaque {
  text-transform: uppercase;
}

.qrCodePix::before {
  content: url(/img/qr-code-pix.jpg);
}

.chavePix {
  font-size: 2em;
  margin-top: .3em;
  text-align: right;
  color: #fff;
}

.chavePix::before {
  content: "Chave pix: ";
}

.main_button_voltar {
  display: flex;
  justify-content: flex-end;
}

.main_voltar {
  font-size: 2em;
  padding: 1em 1.8em;
  background-image: linear-gradient(to right, #0B1995 10%, #0047BB 50%, #0B1995 95%);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
}